* {
  background-color: #fffcf5;
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.nav_links {
  text-align: right;
  width: 50%;
  float: right;
  background-color: blue;
}

.nav_links li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 1ch;
  padding-right: 1ch;
}

.nav_links li a {
  font-size: 16px;
  color: black;
}

.nav_links li a:hover {
  font-size: 16px;
  color: red;
}

.headerDivider {
  border-left: 1px solid black;
  height: 2em;
}
